<footer id="sticky-footer" class="py-4 bg-dark text-white-50" shadow>
  <div class="container text-center">
    <p>develop by yunusacar.dev</p>
  </div>
</footer>
<script>
  // Replace the <textarea id="editor1"> with a CKEditor 4
  // instance, using default configuration.
  CKEDITOR.replace( 'editor1' );
</script> 
</body>

</html>