<%- include('partials/header.ejs') -%>
<div class="w-screen flex justify-center">
    <%- include('partials/messages.ejs') -%>
</div>


<%- include('partials/card.ejs') -%>
<%- include('partials/footer.ejs') -%>