<!DOCTYPE html>
<html>

<head>
  <title>noteapps</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/tailwind.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <style>
    body {
      background-image: url("https://i.pinimg.com/originals/b3/5e/33/b35e33f3988d91175c717fc675d80bbd.jpg");

    }
  </style>

</head>

<body class="object-fill">

  <nav class=" text-default-purple flex justify-center h-16 w-screen items-center font-bold ">
    <div class="flex justify-center uppercase">
      <a id="logo" href="/home" class="mx-2">
        <h2>NOTAPP <i class="fas fa-address-book"></i></h2>
      </a>
      <div class="text-center mx-2">
        <a href="/add" class="mx-2">Not Ekle</a>
        <a href="/search" class="mx-2">Not Ara</a>
      </div>
    </div>
    <% if(currentUser){ %>
    <div class="flex justify-center mx-2">
      <p class="mx-2"><%=currentUser.name%></p>
      <a class="mx-2 uppercase" href="/logout">Logout</a>
    </div>

    <%}%>

    </nav>   
<div class="w-screen flex justify-center mt-2">
  <%- include('partials/messages.ejs') -%>
    </div>


    <div class="w-full h-auto mt-32 font-sans bg-cover bg-landscape">
      <div class="container flex items-center justify-center flex-1 h-full mx-auto">
        <div class="w-full max-w-lg">
          <div class="leading-loose">
            <form method="POST" action="/login" class="max-w-sm p-10 m-auto bg-white bg-opacity-25 rounded shadow-xl">
              <p class="mb-8 text-2xl font-light text-center text-white">
                Giriş
              </p>
              <div class="mb-2">
                <div class=" relative ">
                  <input type="email" name="email" required id="login-with-bg-email"
                    class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                    placeholder="email" />
                </div>
              </div>
              <div class="mb-2">
                <div class=" relative ">
                  <input type="password" name="password" id="login-with-bg-password"
                    class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                    placeholder="password" />
                </div>
              </div>
              <div class="flex items-center justify-between mt-4">
                <button type="submit" value="Log In"
                  class="py-2 px-4 bg-default-purple hover:bg-purple-700 focus:ring-purple-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg">
                  Giriş
                </button>
              </div>
              <div class="text-center">
                <a href="/signup"
                  class="right-0 inline-block text-green-200 text-sm font-light align-baseline text-500 hover:text-green-600">
                  Kayıt Ol
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>





    <%- include('partials/footer.ejs') -%>